<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html xmlns="http://www.w3.org/1999/html"> <head>

<!-- Bootstrap requires the following three meta tags to appear first -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">


<title>Vocabulary Anagram</title>

<!-- Javascript and Cascading Style Sheets (css) libraries -->
<!-- mostly from content delivery networks                 -->

<!-- jquery; CDN load is usually quick because it's likely cached -->
<script type="text/javascript"
     src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
</script>

<!-- Bootstrap stylesheet let's us have a 'responsive' layout; -->
<!-- 12 column grid rearranges itself for smaller screens or windows. -->

<!-- per http://getbootstrap.com/getting-started/  -->
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
 href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
 integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
  crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script
 src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
 integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
 crossorigin="anonymous">
</script>

<!-- Our own css file.  Note how we can link directly here and not -->
<!-- write any routing code in the Flask application. -->
<link rel="stylesheet" href="/static/jumble.css" />

</head>

<body>
<div class="container">

  <div class="row">
    <div class="col-xs-6 text-center">
      <h1>Words</h1>
    </div>
  </div>
<!-- Vocabularly words layed out in 6 columns;
  -- bootstrap may collapse to fewer columns and
  -- more rows if the window is narrow.
  -->
<span id="wordlist">
  <div class="row">
    {% for word in g.vocab %}
    <div class="col-xs-2 text-center"> {{ word }} </div>
      {% if loop.index is divisibleby 3 %}
      </div> <!-- row -->
      <div class="row">
      {% endif %}
    {% endfor %}
  </div> <!-- row -->
</span>

<br />

<div class="row">
  <div class="col-xs-6 text-center">
   Use letters from
  </div>
  </div><div class="row">
  <div class="col-xs-6 text-center lead">
    <strong id="jumbled">{{ session.jumble }}</strong>
  </div>
  </div><div class="row">
  <div class="col-xs-6 text-center">
    to spell {{session.target_count}} words from the list.
  </div> <!-- col -->
</div> <!-- row -->
<br />
<div class="row">
  <div class="col-xs-6 text-center">
  <form id="entry">
    <label for="attempt">Word:</label>
    <input id="attempt" name="attempt" type="text" width="15"
      autocomplete="off"  autofocus />
  </form>
</div></div>

<br />

<p id="results"> </p>
<p id="message" style="color:red"> </p>

<script>

// Suppress normal form submission
$("#entry").submit( function(event) {
  event.preventDefault();
});

$("#attempt").keyup(function(event) {
    var txt = $("#attempt").val();
    var keycode = event.which;      // They key that just went up
    var letter = String.fromCharCode(keycode);
    console.log(txt);
    if (! "ABCDEFGHIJKLMNOPQRSTUVWXYZ".includes(letter)) { return }

    $.getJSON("/_check", {text:txt}, function (data) {
        word_matches = data.result.thematches;  // the words that have been found
        flash_msg = data.result.flash_msg;      // the flask.flash message from the server
        is_done = data.result.is_done;          // 1 if all the words have been found, 0 otherwise
        new_jumble = data.result.jumble_formatted; // the jumbled word with used letters in grey
        old_jumble = data.result.jumble_raw;    // the original unformatted jumble
        word_list = data.result.word_list;      // the word list with dynamic highlighting
        clear_input = data.result.clear_input;  // clear the text in the text box

        // check if the success page should be displayed
        if (is_done) {
            window.location.replace("/success");
        }
        // display the found words if at least 1 has been found
        if (word_matches.length > 0) {
            console.log("word_matches=" + word_matches);
            $("#results").html("<h2>You found </h2>" + word_matches.join(' '));
            $("#message").html(' ');
        }
        // clear the input text if it was already found
        if (clear_input) {
            $("#attempt").val("");
        }
        // display the flash message from flask
        if (flash_msg) {
            $("#message").html(flash_msg);
            console.log("flash_msg=" + flash_msg)
        }
        // immediately delete character if it is not in anagram
        if (! old_jumble.includes(txt[txt.length - 1])) {
            $("#attempt").val(txt.substring(0, txt.length - 1));
        }
        // rewrite jumbled since the server greys out used letters
        $("#jumbled").html(new_jumble);
        // dynamically highlight the letters in the word list
        $("#wordlist").html(word_list);
    });
})

</script>

 </div> <!-- container -->
</body> </html>
